.header-component {
  max-width: 1233px;
  padding-top: 87px;
  margin: auto auto 36px;
}
.header-component .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-component .header-wrapper .logo span {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 50px;
  line-height: 1;
}
.header-component .header-wrapper .menu {
  display: flex;
  align-items: center;
}
.header-component .header-wrapper .menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 0;
  margin-right: 36px;
  padding: 0;
}
.header-component .header-wrapper .menu ul li {
  margin-right: 25px;
}
.header-component .header-wrapper .menu ul li:last-child {
  margin-right: 0;
}
.header-component .header-wrapper .menu ul li a {
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
}
.link-button-component a {
  display: block;
  border-radius: 20px;
  background-color: #00BA00;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  font-weight: 700;
}
html,
body {
  margin: 0;
}
html {
  height: 100%;
}
html,
body {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: 'Euclid Circular A', sans-serif;
  color: #333333;
  background-color: #DF8851;
  font-size: 15px;
  font-variant: tabular-nums;
  line-height: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.page {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 50px 25px;
  max-width: 1233px;
  margin: auto auto 36px;
}
