header.header-component
  .header-wrapper
    .logo
      span Brawl Stars

    #header-menu.menu
      ul
        li
          a(href="/") Бойцы
        li
          a(href="/") Мемы
        li
          a(href="/") Видео

      include ./link-button


